* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1A1A1A;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container__content {
    width: 1236px;
    border-radius: 10px;
    /*гриды топ вещь тут я лишь одним стилем сказал что дети были одинаковой шириной*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(207, 163, 178, 0.9);
}

.container__input {
    font-size: 18px;
    line-height: 21px;
    border-radius: 10px;
    padding: 23px 18px;
    width: 360px;
    height: 67px;
    border: none;
    margin-bottom: 36px;
}

.container__input:focus {
    outline: 0;
}
/*тут немного мой косяк в дизайне у них у всех одинаковы1й марджин вниз но то что заюзал псевдокласс чайлд респект */
/*.container__input:first-child {*/
/*    margin-bottom: 36px;*/
/*}*/

/*.container__input:nth-child(2) {*/
/*    margin-bottom: 42px;*/
/*}*/

.container__input::placeholder {
    color: #000000;
}

.container__button {
    font-size: 18px;
    line-height: 21px;
    width: 360px;
    height: 67px;
    padding: 23px 154px;
    border-radius: 10px;
    background: #C6FF7E;
    margin-bottom: 22px;
    border: none;
}

a {
    text-decoration: none;
}

.container__link {
    /* нижние две штуки можешь не писать так как они по умолчанию стоят*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    font-size: 15px;
    line-height: 18px;
    color: #0928CB;
    text-align: center;
}

/*начет изображения погугли background */
.container__image {
    background-image: url("pics.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

.container__form {
    display: flex;
    flex-direction: column;
    /*так то лучше ибо с фиксированной по одну сторону отступом в адаптиве не будет так хорошо*/
    margin: 236px auto;
}